.calculator {
  width: 100%;
  max-width: 25rem;
}

.calculatorRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calculatorKey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.calculatorKey:hover {
  background-color: #eee;
}

.display {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  padding: 0 1rem 0 3rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.operator {
  position: absolute;
  top: 0;
  left: 0.6rem;
  font-size: 1.5rem;
}
