.calculator {
  width: 100%;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #eee;
  box-shadow: 0 0 2rem #e8e8e8;
}

.calculatorKeys {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.calculatorRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.2rem;
}

.calculatorKey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.calculatorKey:hover {
  background-color: #cfcfcf;
}

.calculatorRow:first-child .calculatorKey {
  background-color: #08c1f0;
  color: #fff;
}

.calculatorRow:first-child .calculatorKey:hover {
  background-color: #21b3e4;
}

.calculatorRow .calculatorKey:last-child {
  background-color: #0090ff;
  color: #fff;
}

.calculatorRow .calculatorKey:last-child:hover {
  background-color: #0770c0;
}

.display {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem 0 3rem;
  font-size: 2rem;
  background: #f4f4f4;
  color: #0003ff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.operator {
  position: absolute;
  top: 0;
  left: 0.6rem;
  font-size: 1.5rem;
}
